<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>To The Moon Portfolio Tracker Initiaition Page</h1>
    <h3>Sign up below and enjoy the volatile ride reflected by your portfolio</h3>
    <form action="/signup" method="post">
        <div>
            Enter Username: <input type="text" th:field="${user.username}">
        </div>
        <div>
            Enter Password: <input type="password" th:field="${user.password}">
        </div>
        <div>
            <input type="submit" value="Create Account">
        </div>
    </form>
</body>
</html>